@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

.App {
  text-align: center;
  height: auto;
  max-height: 250px;
  width: auto;
  margin-top: 3rem;
  font-size: 100pt;
}

.Header {
  margin: 20px;
}

#card {
  margin: 20px;
  height: 28rem;
}

#cardTitle {
  font-family: 'Nabla', cursive;
  font-size: 25pt;
  margin: auto;
}
#responsiveImage {
  max-width: 75%;
  max-height: 75%;
}

#favoritesButton {
  max-height: 25%;
}

h1 {
  font-family: 'Nabla', cursive;
  font-size: 100pt;
  margin: auto;
}

#formGroup {
  margin: 20px;
}
